Você recebeu a tarefa de normalizar o seguinte arquivo JSON chamado “informacoes.json” referente a algumas informações de identificação de um cliente. O arquivo possui o seguinte conteúdo:


O resultado final deve ser um Pandas DataFrame que possui a seguinte estrutura:

In [ ]:
import pandas as pd
import json


with open('../Dados/informacoes.json', 'r') as file:
    json_bruto = json.load(file)


json_bruto

{'nome': 'JoÃ£o',
 'idade': 28,
 'enderecos': [{'tipo': 'casa',
   'rua': 'Rua A',
   'numero': 123,
   'cidade': 'SÃ£o Paulo'},
  {'tipo': 'trabalho',
   'rua': 'Rua B',
   'numero': 456,
   'cidade': 'Rio de Janeiro'}]}

In [ ]:
dados = pd.json_normalize(json_bruto, record_path='enderecos', meta=['nome', 'idade'], errors='ignore')
dados

       tipo    rua  numero          cidade   nome idade
0      casa  Rua A     123      SÃ£o Paulo  JoÃ£o    28
1  trabalho  Rua B     456  Rio de Janeiro  JoÃ£o    28