# Trabalhando com o Google Planilhas


- Link Planilha: https://docs.google.com/spreadsheets/d/1ewVJUlqJcj8qw3exgtju8ZPG8zAT_O-PsonUJw0hpDs/edit?gid=2146822198#gid=2146822198

In [5]:
import pandas as pd

In [1]:
sheet_id = '1ewVJUlqJcj8qw3exgtju8ZPG8zAT_O-PsonUJw0hpDs'

In [ ]:
# Para conseguir acessar a planilha, precisa-se adicionar o parâmetro '/gviz/tq' (API do Google) -
#  '?tqx=out:csv' especifica que os dados serão retornados em csv
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [6]:
dados_co2_sheets = pd.read_csv(url)

In [7]:
dados_co2_sheets.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Lear uma página diferente
sheet_id = '1ewVJUlqJcj8qw3exgtju8ZPG8zAT_O-PsonUJw0hpDs'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet&sheet={sheet_name}'

In [9]:
percapita_sheets = pd.read_csv(url_percapita)

In [10]:
percapita_sheets.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Lear uma página diferente
sheet_id = '1ewVJUlqJcj8qw3exgtju8ZPG8zAT_O-PsonUJw0hpDs'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet&sheet={sheet_name}'

In [12]:
fontes_sheets = pd.read_csv(url_fontes)

In [13]:
fontes_sheets.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN