# Projeto: Administração de Condomínios
- A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários.
-  Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.
- Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio de alguns moradores
- A base de dados contém informações sobre o apartamento dos locatários, o dia acordado para o pagamento do aluguel, o dia da efetivação do pagamento de aluguel e o valor do aluguel.



----------------------------------------
    A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece. Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio fictício de alguns moradores.

In [9]:
import pandas as pd
import numpy as np

In [4]:
dados = pd.read_json('../Dados/dados_locacao_imoveis.json')

dados = pd.json_normalize(dados['dados_locacao'])
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

In [5]:
dados = dados.explode(column=['datas_combinadas_pagamento', 'datas_de_pagamento', 'valor_aluguel'])
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
0,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
1,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
1,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
2,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
2,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
3,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
3,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
4,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
4,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
5,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
5,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
6,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
6,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
7,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
7,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
8,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
8,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
9,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
9,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
10,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
10,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
11,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
11,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
12,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
12,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
13,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
13,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
14,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
14,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

## Desafio:
- Remover os dados em listas dentro do DataFrame;
- Verificar os tipos de dados;
- Identificar colunas numéricas;
- Transformar a coluna numérica para o tipo numérico.

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [10]:
dados['valor_aluguel'] = dados['valor_aluguel'].apply(lambda x: x.replace('$', '').replace(' reais', '').replace(',', '.').strip())
dados['valor_aluguel'] = dados['valor_aluguel'].astype(np.float64)

In [11]:
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,1000.0
0,A101 (blocoAP),01/07/2022,03/07/2022,2500.0
1,A102 (blocoAP),02/06/2022,02/06/2022,1100.0
1,A102 (blocoAP),02/07/2022,06/07/2022,2600.0
2,B201 (blocoAP),03/06/2022,07/06/2022,1200.0
2,B201 (blocoAP),03/07/2022,03/07/2022,2700.0
3,B202 (blocoAP),04/06/2022,07/06/2022,1300.0
3,B202 (blocoAP),04/07/2022,05/07/2022,2800.0
4,C301 (blocoAP),05/06/2022,10/06/2022,1400.0
4,C301 (blocoAP),05/07/2022,09/07/2022,2900.0
5,C302 (blocoAP),06/06/2022,08/06/2022,1500.0
5,C302 (blocoAP),06/07/2022,12/07/2022,1200.0
6,D401 (blocoAP),07/06/2022,07/06/2022,1600.0
6,D401 (blocoAP),07/07/2022,09/07/2022,1300.0
7,D402 (blocoAP),08/06/2022,10/06/2022,1700.0
7,D402 (blocoAP),08/07/2022,14/07/2022,1400.0
8,E501 (blocoAP),09/06/2022,10/06/2022,1800.0
8,E501 (blocoAP),09/07/2022,09/07/2022,1500.0
9,E502 (blocoAP),10/06/2022,16/06/2022,1900.0
9,E502 (blocoAP),10/07/2022,12/07/2022,1600.0
10,F601 (blocoAP),11/06/2022,17/06/2022,2000.0
10,F601 (blocoAP),11/07/2022,13/07/2022,1000.0
11,F602 (blocoAP),12/06/2022,15/06/2022,2100.0
11,F602 (blocoAP),12/07/2022,12/07/2022,1100.0
12,G701 (blocoAP),13/06/2022,19/06/2022,2200.0
12,G701 (blocoAP),13/07/2022,20/07/2022,1200.0
13,G702 (blocoAP),14/06/2022,15/06/2022,2300.0
13,G702 (blocoAP),14/07/2022,17/07/2022,2100.0
14,H801 (blocoAP),15/06/2022,18/06/2022,2400.0
14,H801 (blocoAP),15/07/2022,16/07/2022,2200.0

Buscando explicar a organização da identificação dos apartamentos, durante a criação do conjunto de dados, foi adicionado o texto (blocoAP). Esse texto informa que os nomes dos apartamentos estão organizados com a letra do bloco seguida do número do apartamento. No entanto, isso não traz nenhuma informação para nossos dados, sendo interessante realizar a remoção desse texto no conjunto de dados.

In [16]:
dados['apartamento'] = dados['apartamento'].str.replace('(blocoAP)', '').str.strip()

In [17]:
dados

   apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0         A101                 01/06/2022         05/06/2022         1000.0
0         A101                 01/07/2022         03/07/2022         2500.0
1         A102                 02/06/2022         02/06/2022         1100.0
1         A102                 02/07/2022         06/07/2022         2600.0
2         B201                 03/06/2022         07/06/2022         1200.0
2         B201                 03/07/2022         03/07/2022         2700.0
3         B202                 04/06/2022         07/06/2022         1300.0
3         B202                 04/07/2022         05/07/2022         2800.0
4         C301                 05/06/2022         10/06/2022         1400.0
4         C301                 05/07/2022         09/07/2022         2900.0
5         C302                 06/06/2022         08/06/2022         1500.0
5         C302                 06/07/2022         12/07/2022         1200.0
6         D401                 07/06/2022         07/06/2022         1600.0
6         D401                 07/07/2022         09/07/2022         1300.0
7         D402                 08/06/2022         10/06/2022         1700.0
7         D402                 08/07/2022         14/07/2022         1400.0
8         E501                 09/06/2022         10/06/2022         1800.0
8         E501                 09/07/2022         09/07/2022         1500.0
9         E502                 10/06/2022         16/06/2022         1900.0
9         E502                 10/07/2022         12/07/2022         1600.0
10        F601                 11/06/2022         17/06/2022         2000.0
10        F601                 11/07/2022         13/07/2022         1000.0
11        F602                 12/06/2022         15/06/2022         2100.0
11        F602                 12/07/2022         12/07/2022         1100.0
12        G701                 13/06/2022         19/06/2022         2200.0
12        G701                 13/07/2022         20/07/2022         1200.0
13        G702                 14/06/2022         15/06/2022         2300.0
13        G702                 14/07/2022         17/07/2022         2100.0
14        H801                 15/06/2022         18/06/2022         2400.0
14        H801                 15/07/2022         16/07/2022         2200.0

Nas colunas datas_de_pagamento e datas_combinadas_pagamento, temos datas em formato 'dia/mês/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualização de subconjunto que possa contribuir no objetivo do contexto que os dados estão inseridos.

In [18]:
dados['datas_combinadas_pagamento'] = pd.to_datetime(dados['datas_combinadas_pagamento'], format="%d/%m/%Y")
dados['datas_de_pagamento'] = pd.to_datetime(dados['datas_de_pagamento'], format="%d/%m/%Y")

In [19]:
dados

   apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0         A101                 2022-06-01         2022-06-05         1000.0
0         A101                 2022-07-01         2022-07-03         2500.0
1         A102                 2022-06-02         2022-06-02         1100.0
1         A102                 2022-07-02         2022-07-06         2600.0
2         B201                 2022-06-03         2022-06-07         1200.0
2         B201                 2022-07-03         2022-07-03         2700.0
3         B202                 2022-06-04         2022-06-07         1300.0
3         B202                 2022-07-04         2022-07-05         2800.0
4         C301                 2022-06-05         2022-06-10         1400.0
4         C301                 2022-07-05         2022-07-09         2900.0
5         C302                 2022-06-06         2022-06-08         1500.0
5         C302                 2022-07-06         2022-07-12         1200.0
6         D401                 2022-06-07         2022-06-07         1600.0
6         D401                 2022-07-07         2022-07-09         1300.0
7         D402                 2022-06-08         2022-06-10         1700.0
7         D402                 2022-07-08         2022-07-14         1400.0
8         E501                 2022-06-09         2022-06-10         1800.0
8         E501                 2022-07-09         2022-07-09         1500.0
9         E502                 2022-06-10         2022-06-16         1900.0
9         E502                 2022-07-10         2022-07-12         1600.0
10        F601                 2022-06-11         2022-06-17         2000.0
10        F601                 2022-07-11         2022-07-13         1000.0
11        F602                 2022-06-12         2022-06-15         2100.0
11        F602                 2022-07-12         2022-07-12         1100.0
12        G701                 2022-06-13         2022-06-19         2200.0
12        G701                 2022-07-13         2022-07-20         1200.0
13        G702                 2022-06-14         2022-06-15         2300.0
13        G702                 2022-07-14         2022-07-17         2100.0
14        H801                 2022-06-15         2022-06-18         2400.0
14        H801                 2022-07-15         2022-07-16         2200.0

In [32]:
dados['qtd_dia_atraso'] = dados['datas_de_pagamento'] - dados['datas_combinadas_pagamento']

dados['qtd_dia_atraso'] = dados.qtd_dia_atraso.dt.days

In [34]:
dados
dados.groupby(dados['apartamento'])[['qtd_dia_atraso']].mean()

             qtd_dia_atraso
apartamento
A101                    3.0
A102                    2.0
B201                    2.0
B202                    2.0
C301                    4.5
C302                    4.0
D401                    1.0
D402                    4.0
E501                    0.5
E502                    4.0
F601                    4.0
F602                    1.5
G701                    6.5
G702                    2.0
H801                    2.0