Chegou o momento de praticar! Vamos aplicar os conceitos aprendidos durante a aula a partir de algumas atividades. Solucione os problemas propostos através de códigos utilizando a base de dados disponibilizada no curso.

1) Faça um agrupamento de dados com as colunas "Estado" e "Nível 1 - Setor", obtendo a soma de emissão e armazenando o resultado em uma tabela.

2) Utilizando a tabela construída na atividade 1, selecione os dados referentes à "Energia" do índice "Nível 1 - Setor".

3) Utilizando a tabela construída na atividade 1, encontre a atividade econômica com valor máximo de emissão do Estado de Minas Gerais

4) Obtenha uma tabela contendo a atividade econômica com máxima emissão para cada Estado.

5) Obtenha uma tabela contendo o Estado com máxima emissão para cada atividade econômica.

In [1]:
import pandas as pd

emissoes_gases = pd.read_excel('../Dados/1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx', sheet_name='GEE Estados')


colunas_info = list(emissoes_gases.loc[:, 'Nível 1 - Setor':'Produto'].columns)
colunas_emissao = list(emissoes_gases.loc[:,1970:2021].columns)

emissoes_por_ano = emissoes_gases.melt(id_vars=colunas_info, value_vars=colunas_emissao, var_name='Ano', value_name='Emissão')

c:\Users\gerso\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

1) Faça um agrupamento de dados com as colunas "Estado" e "Nível 1 - Setor", obtendo a soma de emissão e armazenando o resultado em uma tabela.

In [4]:
emissao_por_estado = emissoes_por_ano.groupby(['Estado', 'Nível 1 - Setor'])[['Emissão']].sum()
emissao_por_estado

                                                Emissão
Estado Nível 1 - Setor
AC     Agropecuária                       -3.272006e+08
       Energia                             2.071751e+08
       Mudança de Uso da Terra e Floresta  4.704492e+09
       Resíduos                            2.928323e+07
AL     Agropecuária                        1.215829e+09
...                                                 ...
TO     Agropecuária                        2.789108e+09
       Energia                             5.130379e+08
       Mudança de Uso da Terra e Floresta  6.486598e+09
       Processos Industriais               2.613905e+07
       Resíduos                            6.177003e+07

[133 rows x 1 columns]

2) Utilizando a tabela construída na atividade 1, selecione os dados referentes à "Energia" do índice "Nível 1 - Setor".

In [5]:
emissao_por_estado.xs('Energia', level=1)

             Emissão
Estado
AC      2.071751e+08
AL      5.958697e+08
AM      1.916462e+09
AP      2.638059e+08
BA      4.801368e+09
CE      1.879584e+09
DF      9.487860e+08
ES      2.201326e+09
GO      2.761709e+09
MA      1.699005e+09
MG      9.663844e+09
MS      1.593967e+09
MT      2.296983e+09
PA      2.730706e+09
PB      8.358578e+08
PE      2.089593e+09
PI      5.044902e+08
PR      5.502734e+09
RJ      9.151787e+09
RN      9.473144e+08
RO      7.246552e+08
RR      1.672719e+08
RS      5.901596e+09
SC      4.328366e+09
SE      6.627356e+08
SP      2.214979e+10
TO      5.130379e+08

3) Utilizando a tabela construída na atividade 1, encontre a atividade econômica com valor máximo de emissão do Estado de Minas Gerais

In [8]:
emissao_por_estado.xs('MG', level=0).idxmax()

Emissão    Agropecuária
dtype: object

4) Obtenha uma tabela contendo a atividade econômica com máxima emissão para cada Estado.

In [12]:
valor_max_emissao = emissao_por_estado.groupby(level=0).max()

atividade_economica_maxima_estado = emissao_por_estado.groupby(level=0).idxmax()
atividade_economica_maxima_estado.insert(1, 'Quantidade de Emissão', valor_max_emissao)
atividade_economica_maxima_estado

                                         Emissão  Quantidade de Emissão
Estado
AC      (AC, Mudança de Uso da Terra e Floresta)           4.704492e+09
AL                            (AL, Agropecuária)           1.215829e+09
AM                                 (AM, Energia)           1.916462e+09
AP                                 (AP, Energia)           2.638059e+08
BA                            (BA, Agropecuária)           7.227622e+09
BR      (BR, Mudança de Uso da Terra e Floresta)           2.587254e+10
CE                            (CE, Agropecuária)           2.334039e+09
DF                                 (DF, Energia)           9.487860e+08
ES                   (ES, Processos Industriais)           2.344011e+09
GO                            (GO, Agropecuária)           1.156308e+10
MA      (MA, Mudança de Uso da Terra e Floresta)           1.620688e+10
MG                            (MG, Agropecuária)           1.557237e+10
MS                            (MS, Agropecuária)           1.242494e+10
MT      (MT, Mudança de Uso da Terra e Floresta)           7.548429e+10
PA      (PA, Mudança de Uso da Terra e Floresta)           6.403043e+10
PB                            (PB, Agropecuária)           9.676822e+08
PE                            (PE, Agropecuária)           2.278818e+09
PI                            (PI, Agropecuária)           1.760335e+09
PR                            (PR, Agropecuária)           6.493219e+09
RJ                                 (RJ, Energia)           9.151787e+09
RN                                 (RN, Energia)           9.473144e+08
RO      (RO, Mudança de Uso da Terra e Floresta)           2.898987e+10
RR                                 (RR, Energia)           1.672719e+08
RS                            (RS, Agropecuária)           1.004486e+10
SC                                 (SC, Energia)           4.328366e+09
SE                            (SE, Agropecuária)           7.201812e+08
SP                                 (SP, Energia)           2.214979e+10
TO      (TO, Mudança de Uso da Terra e Floresta)           6.486598e+09

5) Obtenha uma tabela contendo o Estado com máxima emissão para cada atividade econômica.

In [13]:
valor_max_emissao_ativ = emissao_por_estado.groupby(level=1).max()

atividade_economica_estado = emissao_por_estado.groupby(level=1).idxmax()
atividade_economica_estado.insert(1, 'Quantidade Emissão', valor_max_emissao_ativ)
atividade_economica_estado

,Emissão,Quantidade Emissão
Nível 1 - Setor,,
Agropecuária,"(MG, Agropecuária)",1.557237e+10
Energia,"(SP, Energia)",2.214979e+10
Mudança de Uso da Terra e Floresta,"(MT, Mudança de Uso da Terra e Floresta)",7.548429e+10
Processos Industriais,"(MG, Processos Industriais)",6.806110e+09
Resíduos,"(SP, Resíduos )",2.370314e+09